[submodule "libbpf/bpftool"]
	path = libbpf/bpftool
	url = git@github.com:libbpf/bpftool
[submodule "libbpf/libbpf"]
	path = libbpf/libbpf
	url = git@github.com:libbpf/libbpf.git
[submodule "libbpf/blazesym"]
	path = libbpf/blazesym
	url = git@github.com:libbpf/blazesym.git
